<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
	   <param name="File" value="tp-xml.log" />
       <param name="Append" value="false" />
       <param name="MaxFileSize" value="5MB"/>
       <param name="MaxBackupIndex" value="2" />
       <layout class="org.apache.log4j.PatternLayout">
          <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %C - %m\n"/>
       </layout>
	</appender>	
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
     <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern"
		            value="%d{HH:mm:ss,SSS} %-5p %C - %m\n"/>
     </layout>
	</appender>
	<category name="fr.ensim"
	          additivity="false">
		<level value="debug"/> <!-- Warn | Info | Error | Debug -->
		<appender-ref ref="FILE"/>
		<appender-ref ref="STDOUT"/>
	</category>	
</log4j:configuration>
