body{
    color : black;
    background-color: white;
    background-image:url(html_1920x1200.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

img{
    background-position: top left;
}

.text{
    position: absolute;
    z-index: 1;
    color: blue;
    top: 430px;
}

.image{
    position: absolute;
    z-index: -1;
}