<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="http://java.sun.com/xml/ns/javaee">
    <body>
        <div th:fragment="header">

            <link rel="stylesheet" href="/webjars/materialize/0.97.3/dist/css/materialize.min.css" />

            <style>
                nav {
                    background-color: #2C5364;
                }
            </style>

            <nav>
                <div class="nav-wrapper">
                    <a href="/blog" class="brand-logo center">Mon beau TP5</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="https://www.epicgames.com/fortnite/fr/home">Fortnite</a></li>
                        <li><a href="https://github.com/TanguyHerbron">Github</a></li>
                        <li><a href="/submit">JE VEUX PUBLIER</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </body>
</html>