.titre1{
    -moz-transform: rotate(90deg);
    position: absolute;
    background-color: black;
    color: white;
    margin-top: 0px;
    margin-left: 0px;
}

.titre2{
    
}

.titre2{
    
}

.titre4{
    
}
