<!DOCTYPE HTML>
<html xmlns:th="http :// www.thymeleaf.org">
<head>
    <title>Article</title>
    <meta charset="UTF-8"/>

    <div th:replace="fragments/header :: header"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <p>Content published</p>
                </div>
                <div class="card-action">
                    <a href="/blog">Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>