/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 mars 2016, 09:53:56
    Author     : therbron
*/

html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#carte
{
    height: 600px;
    width: 800px;
}

.btn
{
    background: #fff;
    color: #000;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    font-weight: 500;    
    min-width: 22px;
    padding: 8px;
}

.btn:hover
{
    
}